@charset "UTF-8";

// Color
@import "components/color-variables";
@import "components/color-classes";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// Mixins
@import "components/mixins";

// components
@import "components/global";
@import "components/badges";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/typography";
@import "components/transitions";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sidenav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/tapTarget";
@import "components/pulse";
@import "components/datepicker";
@import "components/timepicker";

.section_choice{
    background: url(../images/index_bckg.jpg);
    background-size: cover;
    height: 60vh;
    position: relative;
    margin-top:20vh; 
    &__form{
        padding: 2rem;
        &-heading{
            background-color:rgba($color: color("grey","darken-4"), $alpha: 0.75);
            box-shadow: 0 1rem 2.667rem color("grey","darken-4");
            color:color("grey","lighten-5");
            border-radius: 7px;
            margin-bottom: 6rem;
            border: 1px solid color("grey","lighten-1");
            
        }
        &-option{
            @include answer;
            background-color:rgba($color: color('grey','lighten-1'), $alpha: 0.75);
            box-shadow: .4rem .4rem .5rem color('grey','darken-4');
            vertical-align: middle;
            line-height: 6rem;
            margin-bottom: 3rem;
            cursor:pointer;
            color: color('shades','white');
            display: inline-block;

            &.active{
                background-color:rgba($color: color("light-blue","lighten-1"), $alpha: 0.75);
            }
        }
        &-submit{
            @include answer;
            background-color:rgba($color: color("grey","darken-4"), $alpha: 0.75);
            position: absolute;
            bottom: 5rem;
            left:40%;
            color: color("shades","white");
            border: 1px solid color("shades","white");
            text-transform: uppercase;
            height: 5rem;
            cursor: pointer;
            transition: all .2s;
            &:hover{
                transform: translateY(-3px);
                box-shadow: 0 1rem 2rem rgba(color("shades","black"),.2);
            }
            &:active,
            &:focus{
                outline: none;
                transform: translateY(-1px);
                box-shadow: 0 .5rem 1rem rgba(color("shades","black"),.2);
            }
        }
    }
}
.spacer{
    @include spacer;
}