#quiz {
width: 500px ;
  background-color: #33312e ;
  color: white ;
  margin-left: 10% ;
  float: left ;
}
.question {
text-align: center ;
  padding-top: 25px;
color: #cc6633 ;
}
.one {
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 25px;
}
.two {
margin-left: 10% ;
  width: 35% ;
  margin-bottom: 5%;
  font-size: 15px;
  border: 5px solid #ccc;
   position: relative;
  padding-bottom: 2%;
  box-shadow:
	0 0 0 2px white,
	0 0 0 4px black,
0 0 0 5px #ccc ;
border-radius: 2.5% ;
  margin-top: 20%;
}
span {
margin-left: 50px;
  font-size: 25px;
  line-height: 1.5 ;
  margin: auto ;
  margin-left: 10% ;
  margin-right: 10% ;
  margin-top: -70px;
}
span p {
margin-left: 18%;
  margin-right: 10% ;
  margin-top: -75px;
}
#result {
width: 200px;
background-color: #ccc ;
  margin-right: 10%;
  height: 500px;
  float: left ;
  margin-left: 50px;
}
#result ul {
list-style-type: none ;
  margin-top: 20px;
  margin-bottom: 20px;
}
ul li {
background-color: green ;
  border: 1px solid black ;
  color: white ;
  display: block ;
  padding-bottom: 7%;
  margin-left: -10% ;
    margin-right: 10% ;
    margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold ;
  padding-top: 8%;
}
#result .false {
background-color: red ;
}
#result .true {
background-color: green ;
}
#result p {
font-size: 20px;
  text-align: center ;
}
.should {
background-color: #327BAB ;
}
.false + .true   {
  position: relative ;
  top: -90% ;
}
.true ~ .false {
position: relative ;
top: 55%;

}
.should {
position: relative ;
top: 85% ;
}

