#quiz {
width: 500px ;
background: url(../images/background-1.jpg);
  color: white ;
  margin-left: 10% ;
  float: left ;

}
.question {
text-align: center ;
  padding-top: 25px;
color: #DA916C ;
}
.one {
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 25px;
}
.two {
margin-left: 10% ;
  width: 35% ;
  margin-bottom: 5%;
  font-size: 25px;
  border: 1px solid #ccc;
   position: relative;
  padding-bottom: 2%;
border-radius: 2.5% ;
  margin-top: 20%;
  background-color: transparent ;
  color: white ;
  text-shadow: 3px 3px 1px #111 ;
}

span p {
margin: -13% 0px 0px 10% ;
  text-align: left;
}

#result {
width: 200px;
background-color: #ccc ;
  margin-right: 10%;
  float: left ;
  margin-left: 50px;
}
#result ul {
list-style-type: none ;
  margin-top: 20px;
  margin-bottom: 20px;
}
ul li {
background-color: green ;
  border: 1px solid black ;
  color: white ;
  display: block ;
  padding-bottom: 7%;
  margin-left: -10% ;
    margin-right: 10% ;
    margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold ;
  padding-top: 8%;
}
#result .false {
background-color: red ;
}
#result .true {
background-color: green ;
}
#result p {
font-size: 20px;
  text-align: center ;
}
.should {
background-color: #327BAB ;
}
.false + .true   {
  position: relative ;
  top: -90% ;
}
.true ~ .false {
position: relative ;
top: 55%;

}
.should {
position: relative ;
top: 85% ;
}

