#begin {
width: 1280px;
  margin: auto ;
  background: url(background.jpg) no-repeat ;
  height: 851px ;
}
.caption {
font-size: 60px;
  text-align: center ;
  color: #eee ;
padding-top: 7% ;
}
.beginform {
font-size: 40px;
  color: white ;
}
.begininput {
display: inline-block ;
   position: relative;
  color: white ;
  text-shadow: 3px 3px 1px #111 ;
  margin-left: 5% ;
}
span p {
margin-top: -3.5% ;
  margin-left: 10% ;
}
.beginsubmit {
margin: 18% 40% 50px 40% ;
  width: 20% ;
  font-size: 50px ;
  text-align: center ;
  text-transform: uppercase ;
}
